@use 'sass:color';
$mainColor: #a83349;
$altColor: color.scale($mainColor, $lightness: 50%);
$lightColor: color.scale($mainColor, $lightness: 90%);
$darkerColor: color.scale($mainColor, $blackness: 50%);
