@use '../../styles/variables' as v;

.scrollLi {
  height: 40vh;
  overflow: scroll;
  overflow-x: hidden;
}

li {
  animation-duration: 1s;
  list-style: none;
  color: v.$mainColor;
  border-bottom: solid 1px v.$mainColor;
  padding: 5px 10px;
  text-align: left;
  font-size: large;
}
ul {
  margin: 0;
  padding: 0;
}
h2 {
  color: v.$mainColor;
  text-align: left;
  padding: 10px;
  border-bottom: solid 1px v.$mainColor;
  font-size: large;
}
li:hover {
  background-color: v.$altColor;
  cursor: pointer;
}
/* Partie horizontale */
::-webkit-scrollbar {
  height: 12px; /* Hauteur de la barre horizontale */
}

/* Partie verticale */
::-webkit-scrollbar {
  width: 12px; /* Largeur de la barre verticale */
}

/* Bouton et zone de défilement */
::-webkit-scrollbar-thumb {
  background-color: v.$mainColor;
  border-radius: 10px;
  border: 2px solid white; /* espace blanc autour du bouton de défilement */
}

/* Zone où la barre de défilement se déplace */
::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}

/* Au survol du bouton de défilement */
::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}
