@use '../../styles/variables' as v;

.header {
  background-color: v.$mainColor;
  color: v.$lightColor;
  padding: 25px;
  span {
    font-size: larger;
  }
}

.error {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  border: 2px solid red; /* Ajoutez une bordure rouge pour mettre en évidence l'erreur */
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin: 13px;
}

/* Animation de vibration */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
