@use '../../styles/variables' as v;
@use 'sass:color';

.Converter {
  text-align: center;

  &-logo {
    height: 40vmin;
    pointer-events: none;

    @media (prefers-reduced-motion: no-preference) {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  &-header {
    background-color: v.$lightColor;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: v.$mainColor;
  }

  &-link {
    color: v.$mainColor;
  }
}
.toggler {
  background-color: v.$darkerColor;
  width: 100%;
  padding: 1rem;
  color: v.$lightColor;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: color.scale(v.$darkerColor, $lightness: -20%);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
